.card {
    width: 641px;
    height: 694px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    padding-left: 30px;
    position: relative;
}

.capCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #949494;
    padding-top: 20px;
}

.sourceName {
    padding-left: 10px;
    color:#949494;
}

.header {
    padding: 30px 65px 0 0;
    font-size: 26px;
    font-weight: 500;
}

.card .mobileImg {
    display: none;
}

.content {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 32px;
    font-size: 16px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 35px;
    width: inherit;
}

.urlButton {
    width: 223px;
    height: 47px;
    background: #7CE3E1;
    border: 1px solid #7CE3E1;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.totalWords {
    color: #949494;
    padding-right: 30px;
}

@media screen and (max-width: 800px) {
    .card {
        width: 335px;
        border-radius: 10px;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    .capCard {
        padding-left: 24px;
        font-size: 14px;
        font-weight: 400;
    }
    .sourceName {
        padding-left: 9px;
    }
    .header {
        padding: 21px 12px 0 24px;
        font-size: 19px;
    }
    .card .desktopImg {
        display: none;
    }
    .card .mobileImg {
        display: block;
        max-width: 297px;
        height: 158px;
        padding-left: 24px;
    }
    .content {
        padding: 18px 21px 0 24px;
        font-size: 12px;
        font-weight: 400;
        opacity: 50%;
    }
    .wrapper {
        width: 320px;
        bottom: 18px;
        padding-left: 24px;
    }
    .urlButton {
        width: 195px;
        height: 40px;
        font-size: 14px;
    }
    .totalWords {
        font-size: 14px;
        font-weight: 400;
        padding-left: 20px;
    }
}