.intro {
    display: flex;
    flex-direction: column;
    padding: 20px 0 55px 14px;
}

.gag {
    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    margin-left: 300px;
}
  
.head {
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 900;
}
  
.content {
    padding-top: 19px;
    font-size: 18px;
    font-weight: 400;
}
  
.requestData {
    margin-top: 32px;
    margin-bottom: 24px;
}
  
.whyme {
    padding-left: 14px;
}
  
.whyme .head {
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 33px;
    font-weight: 900;
    padding-right: 30%;
}
  
.mainPicture2 {
    padding: 80px 14px;
    overflow-x: hidden;
}
  
.rates .head {
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 900;
    padding: 0 0 37px 14px;
}
  