.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 14px;
    padding-top: 20px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title p {
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 900;
    width: 344px;    
}

.title span {
    padding-top: 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.image {
    transform: scale(0.6);
    align-self: center;
    overflow-x: hidden;
}

.generalSummery {
    padding-left: 14px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    height: 240px;

    padding-bottom: 20px;
}

.generalSummery p {
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 900;
}

.generalSummery span {
    color: #949494;
    font-size: 18px;
    padding-top: 10px;
}

.docList {
    padding-left: 14px;
    padding-top: 57px;
}

.docList p {
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 900;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 57px;
}

.btn {
    background: #5970FF;
    border: 1px solid #5970FF;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 335px;
    height: 59px;
    cursor: pointer;
}