.searchHead {
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 48px;
    max-width: 817px;
    padding-left: 60px;
}

.content {
    padding-left: 60px;
    padding-top: 20px;
    max-width: 534px;
    font-size: 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper div:nth-of-type(2) {
    position: absolute;
    padding-left: 938px;
    margin-top: -50px;
    
}

.inputBox {
    display: flex;
    flex-direction: row;
}

.imgWrapperMobile {
    display: none;
}

.imgWrapper {
    overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
    .wrapper div:nth-of-type(3) {
        display: none;
    }
    .imgWrapper {
        display: none;
    }
    .imgWrapperMobile {
        display: flex;
        width: 100%;
        overflow-x: hidden;
        justify-content: center;
        padding-left: 10px;
    }
}

@media screen and (max-width: 1050px) {
    .wrapper div:nth-of-type(2) {
        padding-left: 700px;
    }
}

@media screen and (max-width: 800px) {
    .searchHead {
        font-size: 28px;
        line-height: 34px;
        font-weight: 900;
        padding-left: 14px;
        padding-top: 20px;
    }
    .content {
        padding-left: 14px;
        padding-top: 40px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }
    .wrapper div:nth-of-type(2) {
        padding-left: 385px;
        margin-top: -25px;
        transform: scale(0.6);
    }    
    .imgWrapperMobile {
        transform: scale(0.9);
    } 

}
