.formMobile {
    width: 335px;
    height: 504px;
    margin-left: 14px;
    margin-top: 80px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.btnGrp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 29px;
    padding: 15px;
}

.btnGrp .authBtn {
    background: transparent;
    border-style: none none solid none;
    border-width: 2px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    width: 103px;
    border-color: #029491;
    color: #029491;
    
}

.btnGrp .authBtn:disabled {
    width: 182px;
    border-color: #C7C7C7;
    color: #C7C7C7;
}

.inputGrp {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px;
}

.inputGrp span {
    font-size: 14px;
    padding: 20px 0 10px 0;
    color: #C7C7C7;
}

.comeInBtn {
    margin-top: 35px;
    height: 59px;
    width: 305px;
    align-self: center;
    padding: 16px 40px;
    color: white;
    font-size: 20px;
    background-color: #5970FF;
    border-radius: 5px;
    border: 1px solid #5970FF;  
    cursor: pointer;
}

.inputGrp .restorePwd {
    font-size: 14px;
    color: #5970FF;
    padding: 20px 40px;
    align-self: center;
}

.inputGrp .entry {
    display: flex;
    flex-direction: column;
    color: #949494;
}



.comeInBtn:disabled {
    border-color: #99a5ff;
    background: #99a5ff;
}