.mainSlider .slick-slide > div {
  margin: 0px 15px;
}

.mainSlider .slick-list {
  margin: 0 -5px;
}

.mainSliderMobile .slick-arrow {
  margin-left: 5px;
  margin-right: 40px;
}

.mainSliderMobile .slick-list {
  padding: 0 15px;
  margin: 0 0px;
}

