.ratesList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (max-width: 1400px) {
    .ratesList {
      flex-direction: column;
    }
  }