.item {
    width: 400px;
    height: 225px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    margin-top: 70px;    
}

.icon {
    padding: 20px;
}

.content {
    padding: 20px 70px 20px 20px;
}

.itemMobile {
    width: 298px;
    height: 188px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    margin-top: 32px;    
}

.iconMobile {
    padding: 10px;
}

.contentMobile {
    max-width: 90%;
    padding: 15px;
}